<component name="libraryTable">
  <library name="logback-core-1.0.13">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/wrapper/dists/gradle-2.3-bin/a48v6zq5mdp1uyn9rwlj56945/gradle-2.3/lib/logback-core-1.0.13.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>